@import "../../stylesheets/base/typography.scss";

.per-type-videos {
  background: #fff;
  padding: 1rem;
  margin: 1rem 0;
}

.per-type-videos--title {
  font-size: $large;
  margin: 0 0 1rem 0;
  line-height: 1rem;
}

.per-type-videos--title--type {
  margin-left: 0.5rem;
}