@import "../../stylesheets/base/colors.scss";
@import "../../stylesheets/base/typography.scss";

///iPhone 5: 320px - 568px
//iPhone 6: 375px - 627px (portrait); 667px (landscape)
//iPhone 6 Plus: 414 (portrait), 736px (landscape)

.video-item {
  width: 13.8rem;
  height: 30%;
  margin: 0 1rem 1rem 0;

  &:nth-child(6n) { //6 videos one row, and the last one in one row does not need margin-right
    margin-right: 0;
  }
}

@media screen and (max-device-width: 414px)  {
  .video-item {
    width: 47.5%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}
@media screen and (max-device-width: 320px)  {
  .video-item {
    width: 47%;
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
}

.video-item--imag-area {
  display: block;
  width: 100%;
  height: 100%;
  img{
    width: 100%;
    height: 100%;
  }
}

.video-item--title {
  margin: 0.5rem 0;
}

.video-item--action {
  color: $mid-gray;
}
.video-item--action {
  font-size: $small;
}
.video-item--id,
.video-item--comment {
  margin-left: 0.2rem;
}