.icon-gift {
  display: inline-block;
  width: 1.5rem;
  height: 1.0rem;
  background: url(../../imgs/icons/gift.jpg) no-repeat; // the url must have '/' at te begining
}

.icon-comment {
  display: inline-block;
  width: 1.5rem;
  height: 1.0rem;
  background: url(../../imgs/icons/comment.jpg) no-repeat; // the url must have '/' at te begining
}

.icon-add {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: url(../../imgs/icons/add.png) no-repeat; // the url must have '/' at te begining
}

.icon-music {
  display: inline-block;
  width: 2.5rem;
  height: 2.2rem;
  background: url(../../imgs/icons/music.png) no-repeat; // the url must have '/' at te begining
}

.icon-dance {
  display: inline-block;
  width: 2.5rem;
  height: 2.2rem;
  background: url(../../imgs/icons/dance.png) no-repeat; // the url must have '/' at te begining
}