.float-left {
  float: left;
}
.float-right {
  float: right;
}
.clearfix {
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.vertical-middle {
  vertical-align: middle ;
}