.float-left {
  float: left;
}
.float-right {
  float: right;
}

.clearfix {
  overflow: hidden;
}
.inline-block {
  display: inline-block;
}
.full-width {
  width: 100%;
}

.icon-gift {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: url(../../imgs/icons/gift.jpg) no-repeat; // the url must have '/' at te begining
}