@import "../../stylesheets/base/colors.scss";

body {
  margin: 0;
  background: $light-gray;
  font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}